.custom-carousel-item {
  height: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.content-image{
  display: block;
}
.header-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: aliceblue;
}

.effect {
  display: flex;
  margin: 10px;
  position: relative;
}

.effect::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background-color: rgb(12, 12, 12);
  transition: all 0.3s ease-in-out;
}

.effect:hover::after {
  width: 100%;
  left: 0;
}